.page-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    @media (min-width: 832px) {
        max-width: 800px;
    }
    @media (min-width: 1200px) {
        max-width: 1168px;
    }
    @media (min-width: 1800px) {
        max-width: 1768px;
    }
    @media (max-width: 832px){
        padding-left: 40px;
        padding-right: 40px;
    }
}